@model ProductVM
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Ürün Eklemek icin @Html.ActionLink("tıklayınız", "AddProduct")</h3>

<div class="container">
    <div class="panel panel-primary">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">Ürün ID</th>
                    <th class="text-center">Ürün Ismi</th>
                    <th class="text-center">Ürün Fiyatı</th>
                    <th class="text-center">Ürün Stok</th>
                    <th class="text-center">Ürün Kategorisi</th>
                    <th class="text-center">Ürün Resmi</th>
                    <th class="hidden-phone text-center">Durum</th>
                    <th class="hidden-phone text-center">Sil</th>
                    <th class="hidden-phone text-center">Güncelle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product item in Model.Products)
                {
                    <tr class="gradeX">
                        <td>@item.ID</td>
                        <td>@item.Name</td>
                        <td>@item.UnitPrice.ToString("C2")</td>
                        <td>@item.UnitInStock</td>
                        @if (item.Category == null)
                        {
                            <td>Kategorisi belirtilmemiş</td>
                        }
                        else
                        {
                            <td>@item.Category.Name</td>
                        }
                        <td><img width="30" height="30" title="@item.Name" src="@item.ImagePath" /></td>
                        <td class="center hidden-phone">@item.Status</td>
                        <td class="center hidden-phone">@Html.ActionLink("Sil", "DeleteProduct", new { id = item.ID }, new { @class = "btn btn-danger" })</td>
                        <td class="center hidden-phone">@Html.ActionLink("Güncelle", "UpdateProduct", new { id = item.ID }, new { @class = "btn btn-warning" })</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
