@model PAVM
@{
    ViewBag.Title = "ShoppingList";
}


<div class="row">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <input type="text" placeholder="Ürünlerde Ara" class="form-control" id="search">
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Kategoriler
            </header>
            <div class="panel-body">
                <ul class="nav prod-cat">
                    @foreach (Category item in Model.Categories)
                    {
                        <li>@Html.ActionLink(item.Name, "ShoppingList", new { categoryID = item.ID }, new { @class = "icon-angle-right" })</li>
                    }
                </ul>
            </div>
        </section>
        
        
    </div>
    <div class="col-md-9">
        <section class="panel">
            <div class="panel-body">
                <div class="pro-sort">
                    <label class="pro-lab">Sort By</label>
                    <select class="styled">
                        <option>Default Sorting</option>
                        <option>Popularity</option>
                        <option>Average Rating</option>
                        <option>Newness</option>
                        <option>Price Low to High</option>
                        <option>Price High to Low</option>
                    </select>
                </div>
                <div class="pro-sort">
                    <label class="pro-lab">Show</label>
                    <select class="styled">
                        <option>Result Per Page</option>
                        <option>2 Per Page</option>
                        <option>4 Per Page</option>
                        <option>6 Per Page</option>
                        <option>8 Per Page</option>
                        <option>10 Per Page</option>
                    </select>
                </div>

                <div class="pull-right">
                    <ul class="pagination pagination-sm pro-page-list">
                        @if (ViewBag.categoryID != null)
                        {
                            <li>@Html.PagedListPager(Model.PagedProducts, page => Url.Action("ShoppingList", new { page, categoryID = ViewBag.categoryID }))</li>
                        }
                        else
                        {
                            <li>@Html.PagedListPager(Model.PagedProducts, page => Url.Action("ShoppingList", new { page }))</li>
                        }
                    </ul>
                </div>
            </div>
        </section>

        <div class="row product-list">
            <ul id="ul">
                @foreach (Product item in Model.PagedProducts)
                {
                    <li id="li">
                        <div class="col-md-4" id="div" style="width:427px; height:554px">
                            <section class="panel">
                                <div class="pro-img-box">
                                    <a href="@Url.Action("ProductDetail", new { id=item.ID})"><img src="@item.ImagePath" alt="Resim Yok" title="@item.Name" width="397" height="397"/></a>
                                    <a href="@Url.Action("AddToCart", new { id=item.ID})" class="adtocart">
                                        <i class="icon-shopping-cart"></i>
                                    </a>
                                </div>

                                <div class="panel-body text-center">
                                    <h4>
                                        <a href="@Url.Action("ProductDetail", new { id=item.ID})" class="pro-title">
                                            @item.Name
                                        </a>
                                    </h4>
                                    <p class="price">@item.UnitPrice.ToString("C2")</p>
                                </div>
                            </section>
                        </div>
                    </li>

                }
            </ul>

        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#ul li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

</script>