@model ProfileVM
@{
    ViewBag.Title = "Profile";
}

<section id="container" class="">
    <!-- page start-->
    <div class="row">
        <aside class="profile-nav col-lg-3">
            <section class="panel">
                <div class="user-heading round">
                    <a href="#">
                        <img src="@Model.Profile.ImagePath" alt="Resim Yok">
                    </a>
                    <h1>@Model.Profile.FullName</h1>
                    <p>@Model.User.Email</p>
                </div>

                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="@Url.Action("ProfileDetail")"> <i class="icon-user"></i> Profil</a></li>
                    <li><a href="@Url.Action("EditProfile", new { id=Model.User.ID})"> <i class="icon-edit"></i> Profili düzenle</a></li>
                </ul>

            </section>
        </aside>
        <aside class="profile-info col-lg-9">
            <section class="panel">
                <div class="bio-graph-heading">
                    PROFİL DETAYI
                </div>
                <div class="panel-body bio-graph-info">
                    <div class="row">
                        <div class="bio-row">
                            <p><span>İsim </span>: @Model.Profile.FirstName</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Soyisim </span>: @Model.Profile.LastName</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Kullanıcı Adı </span>: @Model.User.UserName</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Yetki </span>: @Model.User.Role.ToString()</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Email </span>: @Model.User.Email</p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="bio-graph-heading">
                Adresler
            </div>

            <section>
                <div class="row">
                    @foreach (Address item in Model.Profile.Addresses)
                    {
                        <div class="col-lg-6">
                            <div class="panel" style="width:625px; height:125px;">
                                <div class="panel-body">
                                    <div>
                                        <h4 style="font-size:x-large; font-weight:bold ">@item.Name :</h4>
                                    </div>
                                    <div class="bio-desk">
                                        <p>@item.FullAddress</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
        </aside>
    </div>

    <!-- page end-->
</section>
<!--main content end-->
<script>

    $(".knob").knob();

</script>
